<template>
  <v-app class="overflow-hidden">
    <v-app-bar app color="orange" dark clipped-left fixed>
      <v-app-bar-nav-icon @click="mini = !mini"></v-app-bar-nav-icon>
    </v-app-bar>
    <v-navigation-drawer
      app
      dark
      permanent
      clipped
      v-model="drawer"
      :mini-variant="mini"
      :expand-on-hover="mini"
      :key="mini"
      fixed
    >
      <v-list nav dense>
        <v-list-item
          link
          v-for="option in navOptions"
          :key="option.text"
          :to="option.to"
        >
          <v-list-item-icon>
            <v-icon>{{ option.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ option.text }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <!-- Sizes your content based upon application components -->
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container class="main">
        <!-- If using vue-router -->
        <router-view></router-view>
      </v-container>
    </v-main>

    <!-- <v-footer app dark clipped-left> </v-footer> -->
  </v-app>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { LaborWindowOptions } from "@/store/optionPageStore";
import { State, Getter, Action, Mutation, namespace } from "vuex-class";
import { Schedule } from "@/helpers/Schedule";
import { LeaveRequest } from "@/helpers/LeaveRequest";
import { ChromeStorageKeys } from "@/helpers/types";

@Component
export default class Popup extends Vue {
  @State("laborWindow") laborWindowOptions!: LaborWindowOptions;
  @Action("setTypeHourOpts") setTypeHourOpts!: Function;
  @Action("setUserDataOpts") setUserDataOpts!: Function;
  @Action("setCostCenterOpts") setCostCenterOpts!: Function;
  @Action("setSchedules") setSchedules!: Function;

  @Action("setTypeHourLeaveRequest") setTypeHourLeaveRequest!: Function;
  @Action("setCertifiers") setCertifiers!: Function;
  @Action("setLeaveRequest") setLeaveRequest!: Function;
  @Action("setRdo") setRdo!: Function;
  message: any = null;
  mini = true;
  drawer = true;
  navOptions = [
    { icon: "mdi-home", text: "Home", to: "/" },
    { icon: "mdi-account-hard-hat", text: "Time Card", to: "/labor-window" },
    { icon: "mdi-plus", text: "Add Leave", to: "/leave-request" },
    { icon: "mdi-database", text: "ATAAPS Data", to: "/ataaps-data" },
  ];

  loadChromeStore() {
    let storageKeys = Object.values(ChromeStorageKeys);
    chrome.storage.local.get(storageKeys, (results) => {
      storageKeys.forEach((key) => {
        switch (key) {
          case ChromeStorageKeys.LABOR_TYPE_HOUR_OPTS:
            this.setTypeHourOpts(results[key] || []);
            break;
          case ChromeStorageKeys.LABOR_USER_DATA_OPTS:
            this.setUserDataOpts(results[key] || []);
            break;
          case ChromeStorageKeys.LABOR_COST_CENTER_OPTS:
            this.setCostCenterOpts(results[key] || []);
            break;
          case ChromeStorageKeys.SAVED_SCHEDULES:
            this.setSchedules(
              (results[key] || []).map((i: any) => new Schedule(i))
            );
            break;
          case ChromeStorageKeys.LEAVE_TYPE_HOUR_OPTS:
            this.setTypeHourLeaveRequest(results[key] || []);
            break;
          case ChromeStorageKeys.LEAVE_CERTIFIER_OPTS:
            this.setCertifiers(results[key] || []);
            break;
          case ChromeStorageKeys.SAVED_LEAVE_REQS:
            this.setLeaveRequest(
              (results[key] || []).map((i: any) => new LeaveRequest(i))
            );
            break;
          case ChromeStorageKeys.RDO:
            this.setRdo(results[ChromeStorageKeys.RDO]);
            break;
        }
      });
    });
  }

  mounted() {
    this.loadChromeStore();
    chrome.storage.onChanged.addListener((changes, area: string) => {
      if (area.toLowerCase() == "local") {
        this.loadChromeStore();
      }
    });
  }
}
</script>

<style scoped lang="scss">
</style>

<style>
</style>
