<template>
  <v-container fluid>
    <v-row>
      <v-col v-for="(key, index) in chromeState" :key="index" cols="4">
        <v-card class="fill-height" elevation="5">
          <v-card-title class="text-h5">
            {{ key | deCamelCase }}
          </v-card-title>
          <!-- <v-card-subtitle>nothing</v-card-subtitle> -->
          <v-card-text class="d-flex flex-column">
            <div class="text-h3 ma-auto">{{ chromeStorage[key].length }}</div>
            <small class="ma-auto">Options</small>
          </v-card-text>
          <v-card-actions>
            <v-btn text @click="clearStore(key)"> Clear Data </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { ChromeStorageKeys } from "@/helpers/types";
import { Component, Vue } from "vue-property-decorator";
import { Getter, State } from "vuex-class";

@Component
export default class AtaapsData extends Vue {
  @Getter("chromeStorage") chromeStorage: any;

  chromeState: any[] = [];
  mounted() {
    this.chromeState = Object.values(ChromeStorageKeys).sort();
  }

  clearStore(key: string) {
    chrome.storage.local.remove(key);
  }
}
</script>


<style scoped>
</style>