<template>
  <div>
    <div class="text-h3 text-center">Welcome To ATAAPS 9¾</div>
    <div class="text-h5 text-center">Developed by</div>
    <div class="text-h4 text-center">Arnold Martinez</div>

    <div class="mt-10">
      The purpose of this extension is to make using ATAAPS easier. This
      extension is not affiliated with any DOD organizion or ATAAPS. I developed
      this extension by my self. I am a user of ATAAPS, employed by a goverment
      organizion and so that's how I have access to the application as a regular
      user. The extension does required some permission but they are use to
      obtain values to be use in drop down menus. For any bugs or comments you
      can reach me @ <b>latribuy2k@gmail.com</b>. If you are not sure about how
      safe this extension is, you can look me up on the global adress book on
      outlook (look for <b>Arnold D Martinez</b> in the global listing since i
      might not be in the same branch as you) and drop me a line or hit me on on
      teams.
    </div>
    <div class="mt-5">
      <h1 id="-first-time-setup-"><strong>First time setup.</strong></h1>
      <ul>
        <li>
          To allow the extension to get the ATAAPS options
          <ul>
            <li>
              Goto to the labor page and add a new row (this pull the options
              for schedule templates)
            </li>
            <li>ATAAPS Menu =&gt; Labor =&gt; insert row</li>
          </ul>
        </li>
        <li>
          To get the leave request options
          <ul>
            <li>Go to the create new leave request window (that&#39;s it)</li>
            <li>ATAAPS Menu =&gt; Leave Request =&gt; New Leave Request</li>
          </ul>
        </li>
        <li>
          Verifying data
          <ul>
            <li>
              To verefied that ATAAPS data has been loaded, click on the
              extension icon and then click on &quot;show data&quot;
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Home extends Vue {}
</script>

<style scoped>
</style>