<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="rows"
      class="elevation-1"
      disable-pagination
      hide-default-footer
      dense
      disable-sort
      show-expand
      :expanded.sync="expanded"
      single-expand
      item-key="id"
    >
      <template v-slot:expanded-item="{ headers, item }">
        <td :colspan="headers.length">
          <div
            v-for="headerInfo in scheduleInfo"
            :key="headerInfo.value"
            fluid
            class="d-flex flex-column"
          >
            <div class="text-h6">{{ headerInfo.text }}:</div>
            <div class="text-subtitle-2">
              {{ item[headerInfo.value].text | stringTrim }}
            </div>
          </div>
        </td>
      </template>
      <template v-slot:[`item.actions`]="{ item, index }">
        <v-icon small class="mr-2" @click="openDialog(null, item)">
          mdi-pencil
        </v-icon>
        <v-icon small @click="deleteItem(index)"> mdi-delete </v-icon>
      </template>
    </v-data-table>

    <v-speed-dial
      bottom
      right
      open-on-hover
      transition="slide-y-transition"
      v-model="fab"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="blue darken-2" dark fab>
          <v-icon v-if="fab"> mdi-close </v-icon>
          <v-icon v-else> mdi-calendar-plus </v-icon>
        </v-btn>
      </template>
      <v-btn fab dark small color="green" @click="openDialog('RG')"> RG </v-btn>
      <v-btn fab dark small color="indigo" @click="openDialog('LN')">
        LN
      </v-btn>
      <v-btn fab dark small color="red" @click="openDialog('LH')"> LH </v-btn>
      <v-btn fab dark small color="red" @click="openDialog('OTH')"> OTH </v-btn>
    </v-speed-dial>
    <NewScheduleDialog @new-schedule="onNewSchedule" ref="newScheduleDialog" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import { HourTypes, Schedule } from "@/helpers/Schedule";
import NewScheduleDialog from "./NewScheduleDialog.vue";
import { State, Getter, Action, Mutation, namespace } from "vuex-class";
import { ChromeStorageKeys } from "@/helpers/types";
@Component({
  components: { NewScheduleDialog },
})
export default class LaborWindow extends Vue {
  @Action("addSchedules") addSchedules!: (schedules: Schedule[]) => void;
  @Action("deleteSchedule") deleteSchedule!: (index: number) => void;
  @State(ChromeStorageKeys.SAVED_SCHEDULES) rows!: Schedule[];
  fab = false;
  expanded = [];
  valid: boolean = true;
  scheduleInfo = [
    { text: "Hour Type", value: "typeHour" },
    { text: "Cost Center", value: "costCenter" },
    { text: "User Data", value: "userData" },
  ];
  headers = [
    { text: "Name", value: "name" },
    { text: "Sun", value: "day1" },
    { text: "Mon", value: "day2" },
    { text: "Tue", value: "day3" },
    { text: "Wed", value: "day4" },
    { text: "Thu", value: "day5" },
    { text: "Fri", value: "day6" },
    { text: "Sat", value: "day7" },
    { text: "Sun", value: "day8" },
    { text: "Mon", value: "day9" },
    { text: "Tue", value: "day10" },
    { text: "Wed", value: "day11" },
    { text: "Thu", value: "day12" },
    { text: "Fri", value: "day13" },
    { text: "Sat", value: "day14" },
    { text: "Actions", value: "actions", sortable: false },
  ];
  async mounted() {}

  onNewSchedule(newSchedule: Schedule) {
    this.addSchedules([newSchedule]);
  }

  deleteItem(index: number) {
    this.deleteSchedule(index);
  }

  openDialog(hourType: string, schedule?: Schedule) {
    let dialog = this.$refs.newScheduleDialog as NewScheduleDialog;
    let hourTypeEnum = HourTypes.RG;
    switch (hourType) {
      case HourTypes.LN:
        hourTypeEnum = HourTypes.LN;
        break;
      case HourTypes.LH:
        hourTypeEnum = HourTypes.LH;

        break;
      case HourTypes.OTH:
        hourTypeEnum = HourTypes.OTH;

        break;
      default:
        hourTypeEnum = HourTypes.RG;
        break;
    }
    dialog.openDialog(hourTypeEnum, schedule);
  }
}
</script>

<style scoped>
.v-speed-dial {
  position: absolute;
}
.v-btn--floating {
  position: relative;
}
</style>