<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="savedLeaveRequests"
      class="elevation-1"
      disable-pagination
      hide-default-footer
      dense
      disable-sort
      item-key="id"
      show-select
      v-model="selectedOptions"
      :item-class="itemClass"
    >
      <template v-slot:[`item.typeHour`]="{ item }">
        {{ item.typeHour.text }}
      </template>
      <template v-slot:[`item.certifier`]="{ item }">
        {{ item.certifier.text }}
      </template>
      <template v-slot:[`item.fromDate`]="{ item }">
        {{ item.fromDate | toDateDisplay }}
      </template>
      <template v-slot:[`item.toDate`]="{ item }">
        {{ item.toDate | toDateDisplay }}
      </template>
      <template v-slot:[`item.totalTime`]="{ item }">
        {{ item | toTimeDisplay }}
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon small class="mr-2" @click="openDialog(null, item)">
          mdi-pencil
        </v-icon>
        <v-icon small @click="deleteItem(item.id)"> mdi-delete </v-icon>
      </template>
    </v-data-table>
    <div v-if="selectedOptions.length > 0" class="pt-4 d-flex flex-row">
      <v-btn @click="deleteRows" class="ma-auto" color="orange">delete</v-btn>
    </div>
    <!-- other comps -->
    <NewLeaveRequestDialog
      ref="newLeaveRequestDialog"
      @new-leave-requests="onNewLeaveRequest"
      @updated-leave-requests="onUpdatedLeaveRequest"
    />
    <v-speed-dial
      bottom
      right
      open-on-hover
      transition="slide-y-transition"
      v-model="fab"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="blue darken-2" dark fab>
          <v-icon v-if="fab"> mdi-close </v-icon>
          <v-icon v-else> mdi-calendar-plus </v-icon>
        </v-btn>
      </template>
      <v-btn fab dark small color="green" @click="openDialog('19')"> LA </v-btn>
      <v-btn fab dark small color="indigo" @click="openDialog('30')">
        LN
      </v-btn>
      <v-btn fab dark small color="red" @click="openDialog('OTH')"> OTH </v-btn>
    </v-speed-dial>
    <v-snackbar v-model="snackbar"
      >No Request Created
      <template v-slot:action="{ attrs }">
        <v-btn color="orange" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import NewLeaveRequestDialog from "./NewLeaveRequestDialog.vue";
import csv from "csvtojson";
import {
  DateObject,
  LeaveRequest,
  leaveRequestURLs,
} from "@/helpers/LeaveRequest";
import { Action, State } from "vuex-class";
import { RootState } from "@/store/optionPageStore";
import { daysOfTheWeek } from "@/helpers/types";

@Component({
  components: {
    NewLeaveRequestDialog,
  },
  filters: {
    toDateDisplay: (dateObject: DateObject) => {
      let { month, day, year, hour, minute } = dateObject;
      let p = [month + 1, day, year, hour, minute].map((i) =>
        `${i}`.padStart(2, "0")
      );
      let dayOfTheWeek = daysOfTheWeek.map((d) => d.slice(0, 3))[
        new Date(year, month, day).getDay()
      ];
      return `${p[0]}/${p[1]}/${p[2]} ${p[3]}:${p[4]} (${dayOfTheWeek})`;
    },
    toTimeDisplay: (dateObject: LeaveRequest) => {
      return (
        `${dateObject.totalHours}`.padStart(2, "0") +
        "." +
        `${dateObject.totalMins}`.padStart(2, "0")
      );
    },
  },
})
export default class LeaveRequestView extends Vue {
  snackbar = false;
  expanded = [];
  chosenFile = null;
  csvJson: any = {};
  data: string = "";
  typeHour: string[] = [];
  certifers: string[] = [];
  fab = false;
  selectedOptions = [];
  @State((state: RootState) => state.savedLeaveRequests)
  savedLeaveRequests!: LeaveRequest[];
  @Action("addLeaveRequests") addLeaveRequests!: Function;
  @Action("deleteLeaveRequest") deleteLeaveRequest!: Function;
  @Action("updateLeaveRequest") updateLeaveRequest!: Function;

  headers = [
    { text: "Type Hour", value: "typeHour" },
    { text: "Certifier", value: "certifier" },
    { text: "From", value: "fromDate" },
    { text: "To", value: "toDate" },
    { text: "Total Time", value: "totalTime" },
    { text: "Actions", value: "actions", sortable: false },
  ];

  async mounted() {}

  openDialog(type: string = "", leaveRequest?: LeaveRequest) {
    let dialog = this.$refs["newLeaveRequestDialog"] as NewLeaveRequestDialog;
    dialog.openDialog(type, leaveRequest);
  }

  importTxt() {
    if (!this.chosenFile) {
      this.data = "No File Chosen";
    }
    var reader = new FileReader();

    // Use the javascript reader object to load the contents
    // of the file in the v-model prop
    reader.readAsText(this.chosenFile!);
    reader.onload = async () => {
      this.data = reader.result?.toString()!;
      this.csvJson = await csv().fromString(this.data);
    };
  }

  onNewLeaveRequest(leaveRequests: LeaveRequest[]) {
    if (leaveRequests.length > 0) {
      this.addLeaveRequests(leaveRequests);
    } else {
      this.snackbar = true;
    }
  }

  onUpdatedLeaveRequest(leaveRequest: LeaveRequest) {
    this.updateLeaveRequest(leaveRequest);
  }
  deleteItem(id: string) {
    this.deleteLeaveRequest(id);
  }
  deleteRows() {
    this.selectedOptions.forEach(({ id }) => {
      this.deleteItem(id);
    });
  }
  itemClass(item: LeaveRequest) {
    let { month, day, year } = item.fromDate;
    let date = new Date(year, month, day).getDay();

    return date == 5 ? "friday" : "";
  }
}
</script>

<style scoped>
.v-speed-dial {
  position: absolute;
}
.v-btn--floating {
  position: relative;
}
</style>
<style>
.friday {
  background-color: #ffa50021;
}
</style>