<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-form ref="form" v-model="valid">
          <v-card-title>
            <span class="text-h5">New Leave Request</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row dense no-gutters>
                <v-col>
                  <v-checkbox
                    dense
                    v-model="useWeekends"
                    label="Weekends"
                  ></v-checkbox>
                </v-col>
                <v-col>
                  <v-checkbox
                    dense
                    v-model="isMultiDay"
                    label="Multi Day"
                    :disabled="mode == 0"
                  ></v-checkbox>
                </v-col>
                <v-col>
                  <v-checkbox
                    dense
                    v-model="skipRdo"
                    label="Skip RDO"
                  ></v-checkbox>
                </v-col>
                <v-slide-x-reverse-transition>
                  <v-col v-if="skipRdo">
                    <v-menu
                      v-model="rdoDatePickerMenu"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="rdoDateFormatted"
                          label="RDO"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                          dense
                          :rules="rdoRules"
                          key="RDO-text-field"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        :value="rdoDateSeed"
                        @input="onNewRdo"
                        :max="maxDate"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                </v-slide-x-reverse-transition>
              </v-row>
              <v-row dense>
                <v-autocomplete
                  label="type hour"
                  auto-select-first
                  dense
                  return-object
                  v-model="typeHour"
                  :items="typeHourOpts"
                  :rules="inputRules"
                >
                  <template v-slot:item="{ item }">
                    <v-list-item-content>
                      {{ item.text | stringTrim }}
                    </v-list-item-content>
                  </template>
                </v-autocomplete>
              </v-row>

              <v-row dense>
                <v-autocomplete
                  label="Certifier"
                  auto-select-first
                  dense
                  return-object
                  v-model="certifier"
                  :items="certifiersOpts"
                  :rules="inputRules"
                >
                  <template v-slot:item="{ item }">
                    <v-list-item-content>
                      {{ item.text | stringTrim }}
                    </v-list-item-content>
                  </template>
                </v-autocomplete>
              </v-row>

              <v-row dense>
                <v-menu
                  v-model="datePickerMenu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                  max-width="100%"
                  :disabled="mode == 0"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="computedDateFormatted"
                      label="Start/End Date"
                      hint="MM/DD/YYYY format"
                      persistent-hint
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      :disabled="mode == 0"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="selectedDateRange"
                    range
                    @change="datePickerMenu = false"
                  ></v-date-picker>
                </v-menu>
              </v-row>
              <v-row dense>
                <v-col>
                  <v-autocomplete
                    v-model="startHour"
                    auto-select-first
                    :items="hourOptions"
                    label="Start Hour"
                  ></v-autocomplete>
                </v-col>
                <v-col>
                  <v-autocomplete
                    auto-select-first
                    :items="minutesOptions"
                    label="Start Mins"
                    v-model="startMin"
                  ></v-autocomplete>
                </v-col>
                <v-col>
                  <v-autocomplete
                    auto-select-first
                    :items="hourOptions"
                    label="End Hour"
                    v-model="endHour"
                  ></v-autocomplete>
                </v-col>
                <v-col>
                  <v-autocomplete
                    auto-select-first
                    :items="minutesOptions"
                    label="End Mins"
                    v-model="endMin"
                  ></v-autocomplete>
                </v-col>
              </v-row>
              <v-row dense>
                <v-col>
                  <v-text-field
                    label="Total Hours"
                    type="number"
                    v-model="totalHours"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-autocomplete
                    auto-select-first
                    :items="minutesOptions"
                    label="Total Mins"
                    v-model="totalMins"
                  ></v-autocomplete>
                </v-col>
                <v-col></v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog = false">
              Close
            </v-btn>
            <v-btn color="blue darken-1" text @click="save" :disabled="!valid">
              Save
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script lang="ts">
import { Component, Emit, Vue, Watch } from "vue-property-decorator";
import {
  DateObject,
  LeaveRequest,
  LeaveRequestOpts,
} from "@/helpers/LeaveRequest";
import { OptionItem, RootState } from "@/store/optionPageStore";
import { Action, Getter, State } from "vuex-class";
import { NewLeaveRequestDialogMode } from "@/helpers/types";
import { VForm } from "vuetify/lib/components";
// fromTime: hrs 00-23 mins 00-15-30-45
// date mm/dd/yyyy
@Component
export default class NewLeaveRequestDialog extends Vue {
  valid = true;
  @State((state: RootState) => state.leaveReqWindow.typeHour)
  typeHourOpts!: OptionItem[];
  @State((state: RootState) => state.leaveReqWindow.certifiers)
  certifiersOpts!: OptionItem[];
  mode: NewLeaveRequestDialogMode = NewLeaveRequestDialogMode.NEW_REQUEST;
  currentRequestId: string | null = null;
  private dialog = false;
  datePickerMenu = false;
  rdoDatePickerMenu = false;
  selectedDateRange: string[] = [];
  hourOptions = new Array(24)
    .fill(0)
    .map((item, index) => index.toString().padStart(2, "0"));
  useWeekends = false;
  isMultiDay = true;
  skipRdo: boolean | null = null;
  minutesOptions = ["00", "15", "30", "45"];
  typeHour: OptionItem = { text: "", value: "0" };
  certifier: OptionItem = { text: "", value: "-1" };
  startHour: string = "06";
  startMin: string = "00";
  endHour: string = "14";
  endMin: string = "30";
  totalHours: string = "09";
  totalMins: string = "00";
  inputRules = [
    (i: string) => i != null || "Can't be null, please make a selection",
  ];
  rdoRules = [
    (date: string) => {
      return !!date || "RDO required";
    },
  ];

  @Watch("skipRdo")
  onSkipRdo(value: boolean) {
    if (value) {
      this.$nextTick(() => {
        let form = this.$refs["form"] as any;
        form?.validate();
      });
    }
  }

  @State((state: RootState) => state.rdoDate) rdoDateSeed!: string;
  @Getter("rdoDateFormatted") rdoDateFormatted!: string;
  @Action("setRdo") setRdo!: Function;

  @Emit()
  newLeaveRequests(newLeaverRequests: LeaveRequest[]) {
    return newLeaverRequests;
  }

  @Emit()
  updatedLeaveRequests(leaveRequest: LeaveRequest) {
    return leaveRequest;
  }

  // handle null RDO

  onNewRdo(date: string) {
    this.rdoDatePickerMenu = false;
    this.setRdo(date);
  }

  toDatePicker({ day, year, month }: DateObject): string {
    let parts = [year, month + 1, day].map((i) => `${i}`.padStart(2, "0"));
    return `${parts[0]}-${parts[1]}-${parts[2]}`;
  }

  openDialog(typeHour: string, leaveRequest?: LeaveRequest) {
    if (this.skipRdo == null) {
      this.skipRdo = true;
    }
    // LA=19 LN=30
    if (leaveRequest) {
      this.currentRequestId = leaveRequest.id;
      this.isMultiDay = false;
      this.mode = NewLeaveRequestDialogMode.EDIT;

      this.selectedDateRange = [
        leaveRequest.fromDate,
        leaveRequest.fromDate,
      ].map(this.toDatePicker);
      this.typeHour = leaveRequest.typeHour;
      this.certifier = leaveRequest.certifier;
      this.startHour = `${leaveRequest.fromDate.hour}`.padStart(2, "0");
      this.startMin = `${leaveRequest.fromDate.minute}`.padStart(2, "0");
      this.endHour = `${leaveRequest.toDate.hour}`.padStart(2, "0");
      this.endMin = `${leaveRequest.toDate.minute}`.padStart(2, "0");
      this.totalHours = `${leaveRequest.totalHours}`.padStart(2, "0");
      this.totalMins = `${leaveRequest.totalMins}`.padStart(2, "0");
      this.totalMins = `${leaveRequest.totalMins}`.padStart(2, "0");
    } else {
      this.isMultiDay = true;
      this.mode = NewLeaveRequestDialogMode.NEW_REQUEST;
      this.currentRequestId = null;
      this.typeHour = { text: "", value: "0" };
      this.certifier = { text: "", value: "-1" };
      this.startHour = "06";
      this.startMin = "00";
      this.endHour = "14";
      this.endMin = "30";
      this.totalHours = "09";
      this.totalMins = "00";
      let today = new Date();
      if (typeHour) {
        let optionHour = this.typeHourOpts.find((i) => i.value == typeHour);
        if (optionHour) this.typeHour = optionHour;
      }
      this.selectedDateRange = new Array(2).fill(
        `${today.getFullYear()}-${today.getMonth() + 1}-${today.getDate()}`
      );
    }
    this.dialog = true;
  }
  get computedDateFormatted() {
    let formattedDates = this.selectedDateRange.map((date: string) => {
      let [year, month, day] = date.split("-");
      return `${month}/${day}/${year}`;
    });
    return formattedDates.join(" - ");
  }

  get maxDate() {
    let today = new Date();
    let [year, month, day] = [
      today.getFullYear(),
      today.getMonth() + 1,
      today.getDate(),
    ];
    return [year, month, day].map((i) => `${i}`.padStart(2, "0")).join("-");
  }
  calcRange() {
    let {
      typeHour,
      selectedDateRange,
      startHour,
      startMin,
      endMin,
      endHour,
      totalMins,
      totalHours,
      certifier,
    } = this;
    let [startDate, endDate] = selectedDateRange.map((date: string) => {
      let [year, month, day] = date.split("-").map((part) => parseInt(part));
      return new Date(year, month - 1, day).getTime();
    });
    let hasRroDate = this.rdoDateSeed && this.rdoDateSeed.trim() != "";
    let rdoSeedMillis = 0;
    if (hasRroDate) {
      let [rdoY, rdoM, rodD] = this.rdoDateSeed
        .split("-")
        .map((part) => parseInt(part));
      rdoSeedMillis = new Date(rdoY, rdoM - 1, rodD).getTime();
    }

    let days: LeaveRequest[] = [];
    for (let day = startDate; day <= endDate; day += 86400000) {
      let dateObject = new Date(day);
      let isWeekend = dateObject.getDay() == 0 || dateObject.getDay() == 6;
      let isRdo = hasRroDate
        ? Math.round((day - rdoSeedMillis) / (1000 * 60 * 60 * 24)) % 14 == 0
        : false;

      let skipDay = (!this.useWeekends && isWeekend) || (this.skipRdo && isRdo);
      if (!skipDay) {
        let fromDate = {
          month: dateObject.getMonth(),
          year: dateObject.getFullYear(),
          day: dateObject.getDate(),
          hour: parseInt(startHour),
          minute: parseInt(startMin),
        };
        let toDate = {
          ...fromDate,
          hour: parseInt(endHour),
          minute: parseInt(endMin),
        };
        let currentLeaveReq: LeaveRequest = new LeaveRequest({
          fromDate,
          toDate,
          typeHour,
          certifier,
          totalHours: parseInt(totalHours),
          totalMins: parseInt(totalMins),
        });
        days.push(currentLeaveReq);
      }
    }
    return days;
  }
  save() {
    let leaveReqs = [];
    if (this.isMultiDay) {
      leaveReqs.push(...this.calcRange());
    } else {
      let {
        typeHour,
        selectedDateRange,
        startHour,
        startMin,
        endMin,
        endHour,
        totalMins,
        totalHours,
        certifier,
      } = this;
      let [fromDate, toDate] = selectedDateRange.map(this.parseDateString);
      let opts: LeaveRequestOpts = {
        typeHour,
        fromDate: {
          ...fromDate,
          hour: parseInt(startHour),
          minute: parseInt(startMin),
        },
        toDate: {
          ...toDate,
          hour: parseInt(endHour),
          minute: parseInt(endMin),
        },
        totalHours: parseInt(totalHours),
        totalMins: parseInt(totalMins),
        certifier,
      };
      let newLeaveReq = new LeaveRequest(opts);
      leaveReqs.push(newLeaveReq);
    }
    if (this.mode == NewLeaveRequestDialogMode.NEW_REQUEST) {
      this.newLeaveRequests(leaveReqs);
    } else if (this.currentRequestId) {
      let updatedLeave = leaveReqs[0];
      updatedLeave.overrideId(this.currentRequestId);
      this.updatedLeaveRequests(updatedLeave);
    }

    this.dialog = false;
  }

  parseDateString(date: string) {
    let [year, month, day] = date.split("-").map((part) => parseInt(part));
    month = month - 1;
    return { year, month, day };
  }
}
</script>

<style scoped>
</style>