
<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="700px">
      <v-card>
        <v-form ref="form" v-model="valid">
          <v-card-title>
            <span class="text-h5">New Schedule Template</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row dense>
                <v-text-field
                  label="Template Name"
                  v-model="templateName"
                  :rules="nameRule"
                  class="mb-3"
                ></v-text-field>
              </v-row>
              <v-row dense>
                <v-autocomplete
                  v-model="typeHour"
                  :items="typeHourOptions"
                  label="type hour"
                  auto-select-first
                  dense
                  return-object
                  :rules="inputRules"
                  class="mb-3"
                >
                  <template v-slot:item="{ item }">
                    <v-list-item-content>
                      {{ item.text | stringTrim }}
                    </v-list-item-content>
                  </template>
                </v-autocomplete>
              </v-row>
              <v-row dense>
                <v-autocomplete
                  v-model="costCenter"
                  :items="costCenterOptions"
                  label="cost center"
                  auto-select-first
                  return-object
                  :rules="inputRules"
                  class="mb-3"
                >
                  <template v-slot:item="{ item }">
                    <v-list-item-content>
                      {{ item.text | stringTrim }}
                    </v-list-item-content>
                  </template>
                </v-autocomplete>
              </v-row>
              <v-row dense>
                <v-autocomplete
                  v-model="userData"
                  :items="userDataOptions"
                  label="user data"
                  auto-select-first
                  return-object
                  dense
                  :rules="inputRules"
                  class="mb-3"
                >
                  <template v-slot:item="{ item }">
                    <v-list-item-content>
                      {{ item.text | stringTrim }}
                    </v-list-item-content>
                  </template>
                </v-autocomplete>
              </v-row>
              <v-row>
                <v-col v-for="(hour, index) in week1" :key="index">
                  <v-text-field
                    :value="hour"
                    :label="index | dayOfTheWeek"
                    dense
                    outlined
                    v-model="week1[index]"
                    :rules="hourRule"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col v-for="(hour, index) in week2" :key="index">
                  <v-text-field
                    :value="hour"
                    :label="index | dayOfTheWeek"
                    dense
                    outlined
                    v-model="week2[index]"
                    :rules="hourRule"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog = false">
              Close
            </v-btn>
            <v-btn
              color="blue darken-1"
              text
              @click="onSave"
              :disabled="!valid"
            >
              Save
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script lang="ts">
import { HourTypes, Schedule } from "@/helpers/Schedule";
import { OptionItem, RootState } from "@/store/optionPageStore";
import { watchSyncEffect } from "vue";
import { Component, Vue, Emit, Watch } from "vue-property-decorator";
import { Action, State } from "vuex-class";

@Component({})
export default class NewScheduleDialog extends Vue {
  valid = true;
  dialog = false;
  @State((state: RootState) => state.laborWindow.typeHour)
  typeHourOptions!: OptionItem[];
  @State((state: RootState) => state.laborWindow.costCenter)
  costCenterOptions!: OptionItem[];
  @State((state: RootState) => state.laborWindow.userData)
  userDataOptions!: OptionItem[];
  typeHour: OptionItem = { text: "", value: "" };
  costCenter: OptionItem = { text: "", value: "" };
  userData: OptionItem = { text: "", value: "" };
  templateName: string = "";
  week1 = [0, 9, 9, 9, 9, 8, 0];
  week2 = [0, 9, 9, 9, 9, 0, 0];
  selectedSchedule: Schedule | null = null;
  @Action("updateSchedule") updateSchedule!: Function;
  inputRules = [
    (i: string) => i != null || "Can't be null, please make a selection",
  ];
  nameRule = [(i: string) => i?.trim() != "" || "Must give template a name"];
  hourRule = [
    (value: string) => !!value || "Required.",
    (value: string) => value.match(/^\d*\.?\d*$/) || "Num Req",
  ];

  @Watch("userData")
  onUserDataChange(val: any) {}

  @Emit()
  newSchedule(): Schedule {
    let { typeHour, costCenter, userData, templateName: name } = this;
    let hours = [...this.week1, ...this.week2];

    let schedule = new Schedule({
      typeHour,
      costCenter,
      userData,
      hours,
      name,
    });
    return schedule;
  }

  onSave() {
    // this.newSchedule();
    if (this.selectedSchedule) {
      let { typeHour, costCenter, userData, templateName: name } = this;
      let hours = [...this.week1, ...this.week2];
      Object.assign(this.selectedSchedule, {
        typeHour,
        costCenter,
        userData,
        hours,
        name,
      });
      this.updateSchedule(this.selectedSchedule);
    } else {
      this.newSchedule();
    }
    this.dialog = false;
  }

  setSchedule(schedule: Schedule) {
    this.week1 = schedule.hours.slice(0, 7);
    this.week2 = schedule.hours.slice(7);
    let defaultOpts = { text: "", value: "" };
    this.typeHour = schedule.typeHour || { ...defaultOpts };
    this.costCenter = schedule.costCenter || { ...defaultOpts };
    this.userData = schedule.userData || { ...defaultOpts };
    this.templateName = schedule.name;
  }

  openDialog(hourType: HourTypes, schedule?: Schedule) {
    if (schedule) {
      this.selectedSchedule = schedule;
      this.setSchedule(schedule);
    } else {
      this.selectedSchedule = null;
      let typeHour;
      let userData;
      let hours = [];
      switch (hourType) {
        case HourTypes.RG:
          typeHour = this.typeHourOptions.find((opt) =>
            opt.text.startsWith("RG")
          );
          userData = this.userDataOptions.find((opt) =>
            opt.text.startsWith("I000012000337")
          );
          hours = [0, 9, 9, 9, 9, 8, 0, 0, 9, 9, 9, 9, 0, 0];
          break;
        case HourTypes.LN:
          typeHour = this.typeHourOptions.find((opt) =>
            opt.text.startsWith("LN")
          );
          userData = this.userDataOptions.find((opt) =>
            opt.text.startsWith("I000012000068")
          );
          hours = new Array(14).fill(0);
          break;
        case HourTypes.LH:
          typeHour = this.typeHourOptions.find((opt) =>
            opt.text.startsWith("LH")
          );
          userData = this.userDataOptions.find((opt) =>
            opt.text.startsWith("I000012000462")
          );
          hours = new Array(14).fill(0);
          break;
        case HourTypes.OTH:
          hours = new Array(14).fill(0);
          break;
        default:
          break;
      }
      this.setSchedule(new Schedule({ name: "", typeHour, userData, hours }));
    }

    this.dialog = true;
  }
}
</script>

<style scoped>
</style>