<template>
  <div>You are not in ATAAPS!</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class NotFound extends Vue {}
</script>

<style scoped>
</style>